/*
	Cookware Project Main Stylesheet
	Created By Mike Crute on July 28, 2007
	
	This entire interface is pretty much wholesale stolen from the WordPress
	admin area. But what the hell great design should be copied.
*/
body {
	font: 12px Verdana,Geneva,Arial,Helvetica,sans-serif;
	margin: 0px;
	background: rgb(254, 249, 249);
}

h1, h2 {
	font-family: Georgia,Palatino,"Times New Roman",Times,serif;
	font-weight: normal;
	font-size: 3em;
}

h1 {
	color: rgb(241, 195, 197);
	padding: 10px;
	margin: 0px;
}

h2 {
	color: rgb(0, 0, 0);
	border-bottom: 0.5em solid rgb(255, 229, 230);
	line-height: 5px;
	margin: 20px 0px;
}

a, a:visited {
	text-decoration: none;
	color: rgb(128, 20, 25);
}

a:hover {
	text-decoration: underline;
}

p#logged_in {
	color: rgb(255, 255, 255);
	font-size: 0.9em;
	position: absolute;
	top: 0px; 
	right: 10px;
}

div#header p#logged_in a, div#header p#logged_in a:visited {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

div#header {
	background: rgb(128, 20, 25);
}

div#header ul li {
	list-style: none;
	display: inline;
	padding: 5px 10px;
}

div#header a, div#header a:visited {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

div#tabstrips {
	background: rgb(241, 195, 197);
	border-top: 3px solid rgb(189, 68, 73);
}

ul#tabstrip {
	font-size: 1.2em;
	margin: 5px 0px 0px 5px;
	padding: 5px 0px 0px 0px;
}

ul#tabstrip li.selected {
	background: rgb(79, 13, 16);
	border-top: 1px solid rgb(222, 150, 153);
	border-right: 2px solid rgb(189, 68, 73);
	font-weight: bolder;
}

ul#tabstrip li.selected a, ul#tabstrip li.selected a:visited {
	color: rgb(255, 255, 255);
}

div#tabstrips_sub {
	background: rgb(79, 13, 16);
	padding: 5px 0px 2px 2px;
	margin: 5px 0px 0px 0px;
}

ul#tabstrip_sub {
	background: rgb(79, 13, 16);
	margin: 2px 0px 0px 5px;
	padding: 5px 0px 2px 0px;
}

ul#tabstrip_sub li.selected {
	background: rgb(254, 249, 249);
	font-weight: bolder;
	border-top: 1px solid rgb(189, 68, 73);
	border-right: 2px solid rgb(189, 68, 73);
}

ul#tabstrip_sub li.selected a, ul#tabstrip_sub li.selected a:visited {
	color: rgb(0, 0, 0);
}

ul#tabstrip_sub a, ul#tabstrip_sub a:visited {
	color: rgb(255, 255, 255);
}

div#bodycopy {
	background: rgb(255, 255, 255);
	border: 1px solid rgb(204, 204, 204);
	margin: 20px 5%;
	padding: 1em;
}

div#footer {
	font-size: 0.9em;
	color: rgb(204, 204, 204);
	margin: 10px;
	text-align: center;
}